<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BiblioSoft</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>ReaderServlet</servlet-name>
    <servlet-class>servlet.ReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderServlet</servlet-name>
    <url-pattern>/getreader</url-pattern>
   </servlet-mapping>
<servlet>
    <servlet-name>admin1</servlet-name>
    <servlet-class>servlet.Admin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin1</servlet-name>
    <url-pattern>/admin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminop</servlet-name>
    <servlet-class>servlet.AdminOp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminop</servlet-name>
    <url-pattern>/adminop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin2</servlet-name>
    <servlet-class>servlet.Admin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin2</servlet-name>
    <url-pattern>/admin2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>borrowBook</servlet-name>
    <servlet-class>servlet.borrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borrowBook</servlet-name>
    <url-pattern>/borrowBook</url-pattern>
  </servlet-mapping>
</web-app>